
$('#dialog').append('<div class="editform"><%= escape_javascript(render 'form') %></div>');
$('#dialog').dialog({  
          autoOpen: false,
			    modal: true,
			    width: 500,
          height: 300,
          close: function(event, ui) {$('#<%= @component.id%> .item').replaceWith('<div class="item"><%= escape_javascript(render @component) %></div>');$('#dialog .editform').remove(); }
        });
$('#dialog').dialog('open');

