<div class = "item">
  <div class = "header"><%= poll.title %></div>
  <div class = "content"><%= poll.content %></div>
  <div class="edit">
      <%= link_to "Edit", edit_poll_path(poll), :remote => true %>
      <%= link_to "Destroy", poll, :confirm => 'Are you sure?', :method => :delete, :remote => true %>
  </div>
</div>

